.contato{
    
    background-color: black;
    display: grid;
    grid-template-areas: 
    " title title title"
    "contato social links";
    grid-template-rows: auto 1fr;
  
    gap: 100px;
    
}

.contato-container{
grid-area: contato;
display: flex;
flex-direction: column;
color: white;
font-size: 3rem;
gap: 40px;
padding: 50px;
width: 350px;

}
.contato-icon{
display: flex;
gap: 24px;
font-size: 1.25rem;

}
.social-container{
grid-area: social;
display: flex;
gap: 32px;
font-size: 1.5rem;
padding-top: 100px;

justify-content: center;


}
.social{
    width: 200px;
    height: 200px;
    background-color: #252525;
    display: grid;
    place-content:center;
    color: white;
    font-size: 3rem;
  
}
.social:hover{
    background-color:yellow;
}
.links-container{
grid-area: links;
display: flex;
align-items: center;
flex-direction: column;
color: white;
padding: 50px;
gap: 40px;



}
.links-title{
    font-size: 3rem;
}
.links{
    font-size: 3rem;
}
