

header{
color: white;
grid-area: content;
z-index: 666;
max-width: 1200px;
width: 100%;
place-self: start;
margin-top: 100px;
margin-left: 350px;
display: flex;
justify-content: space-between;

}
main{
    grid-area: content;
    
}
section{
    height: 100vh;
    grid-area: content;

}
footer{
   grid: content;
   place-self: end center;
   height: 50px;
   width: 100%;
   display: grid;
   place-content: center;
   border-top: 12px solid #FFF;
   font-size: .75rem;
   background-color: black;
}
.footer-desc{
    color: floralwhite;
}