.logo{

    font-size: 32px;
}
.logo::before{
    content: "<";
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
}
.logo::after{
    content: "/>";
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700px;
}